<div id="main-body" class="collapse-sidebar">
    <header role="banner">
        <hgroup>
            <h1><a href="/">My blog</a></h1>
            <h2>This is a blog system.</h2>
        </hgroup>
    </header>
    <nav role="navigation">
        <ul class="subscription" data-subscription="rss">
            <li><a href="" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
        </ul>
  
        <form action="http://google.com/search" method="get">
            <fieldset role="search">
                <input type="hidden" name="q" value="site:google.com" />
                <input class="search" type="text" name="q" results="0" placeholder="Search"/>
            </fieldset>
        </form>

        <ul class="main-navigation">
          <li>{{#link-to "blogs"}}Blogs{{/link-to}}</li>
          <li>{{#link-to "archives"}}Archives{{/link-to}}</li>
        </ul>
    </nav>
    
    <div id="main">
    <div id="content">
        {{outlet}}
    </div>
    </div>
    <footer role="contentinfo">
        <p>
        Copyright &copy; 2013 - daxuegou
        </p>
    </footer>
</div>
