<div id="main-body" class="collapse-sidebar">
    <header role="banner">
        <hgroup>
            <h1><a href="/">Yukang Yang</a></h1>
            <h2>Javascript. Artificial Intelligence.</h2>
        </hgroup>
    </header>
    <nav role="navigation">
        {{#if session.loggedIn}}
        <ul class="subscription">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">{{session.username}}</a>
            <ul class="dropdown-menu" role="menu">
              <li>{{#link-to "changePassword"}}Change password{{/link-to}}</li>
              <li><a {{action logout}}>Logout</a></li>
            </ul>
          </li>
        </ul>
        {{/if}}

        <ul class="main-navigation">
          <li>{{#link-to "blogs"}}Blogs{{/link-to}}</li>
          <li>{{#link-to "archives"}}Archives{{/link-to}}</li>
          {{#if session.loggedIn}}
          <li>{{#link-to "compose"}}Compose{{/link-to}}</li>
          {{/if}}
        </ul>
    </nav>
    
    <div id="main">
    <div id="content">
        {{outlet}}
    </div>
    </div>
    <footer role="contentinfo">
        <p>
        Copyright &copy; 2013 - Yukang Yang
        </p>
    </footer>
</div>
