<div>
	<article class="hentry" role="article">
		<header>
			<h1 class="entry-title">{{title}}</h1>
			<p class="meta">
				<time>{{date}}</time>
				{{#if session.loggedIn}}
				&nbsp;|&nbsp;
				{{#link-to "blog.edit"}}Edit{{/link-to}}
				&nbsp;|&nbsp;
				<a href {{action 'deletePost'}}>Delete</a>
				{{/if}}
			</p>
		</header>
		<div class="entry-content">{{{model.content}}}</div>
	</article>
</div>