<div>
	<article class="hentry" role="article">
		<header>
			<h1 class="entry-title">{{title}}</h1>
			<p class="meta">
				<time>{{date}}</time>
			</p>
		</header>
		<div class="entry-content">{{{model.content}}}</div>
	</article>
</div>