<form role="form" id="change-password-form" {{action changePassword on="submit"}}>
    {{input class="form-control form-group" value=oldPassword type="password" placeholder="Old password"}}
    {{input class="form-control form-group" value=newPassword type="password" placeholder="New password"}}
    {{input class="btn btn-primary col-md-12" type="submit" value="Change password"}}
</form>