<form role="form" id="login-form">
	<input type="text" class="form-control form-group" placeholder="Username">
	<input type="password" class="form-control form-group" placeholder="Password">  
	<input class="btn btn-primary col-md-12" type="submit" value="Log In">
</form>